packages:
  dnf:  # AL2023 uses dnf instead of yum
    gcc-c++: []
    python3.13-devel: []  # Matches EB platform version
    make: []
    postgresql15-devel: []  # For psycopg2 / Postgres
    libjpeg-turbo-devel: []  # For Pillow
    zlib-devel: []  # For compression
    libffi-devel: []  # For cffi
    openssl-devel: []  # For SSL / requests
